*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==================== MAIN LAYOUT ==================== */

main{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    min-height: 100vh;

    margin: auto;

    padding: 2rem;
}


header{
    margin-bottom: 32px;
}

#turn-label{
    padding: 8px 0;
    margin-bottom: 16px;
    min-width: 1rem;
    color: grey;
}

/* ==================== BOARD ==================== */

#board{
    display: grid;
    padding: 16px;
    gap: 8px;
    
    border-radius: 32px;
    
    border: 2px solid black;
    
    --dimension: 200px;
    
    grid-template-columns: repeat(3, var(--dimension));
    grid-template-rows: repeat(3, var(--dimension));
    
    place-content: center;
}

@media only screen and (max-width: 1000px) {
    
    #board{
        --dimension: 150px;
    }
}
@media only screen and (max-width: 600px) {
    
    #board{
        --dimension: 100px;
    }
}

/* ==================== CELLS ==================== */

.cell{
    border: 2px solid black;
    border-radius: 16px;
    
    font-size: 4rem;
    
    padding: 16px;
    background-color: aliceblue;

    transition: all 0.25s;
}

.cell:hover{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
}
.cell[data-highlight]{
    background-color: #008080;
}

.cell::after{
    width: 100%;
    height: 100%;
    
    display: flex;

    justify-content: center;
    align-items: center;

    text-align: center;
    transition: all 0.25s;
}


.cell[data-symbol="_"]::after{
    content: "";
    transform: scale(0);
}

.cell[data-symbol="X"]::after{
    content: "X";
    transform: scale(1);
}

.cell[data-symbol="O"]::after{
    content: "O";
    transform: scale(1);
}

/* ==================== GAME END PANEL ==================== */

#gameover-panel{
    margin: auto;
    
    width: min(90%, 400px);
    height: min(90%, 250px);

    overflow-x: hidden;
    overflow-y: auto;
    
    border: 2px solid black;
    border-radius: 32px;
    padding: 16px;
}

#gameover-panel > div{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

#gameover-header{
    border-bottom: 2px solid black;
    text-align: center;
    padding: 16px;
}

#gameover-message{
    text-align: center;
    font-size: 1.4rem;
}


#gameover-panel-close{
    justify-self: stretch;
    border-radius: 16px;
    padding: 16px;

    font-size: 1.2rem;
    font-weight: 600;
}